<div *ngIf="valid; else loading" class="band-serv-edit">
    <div><h2>Modificare Annuncio</h2></div>
    <form [formGroup]="bandServModifyForm"> 
        <div class="card">
            <p>
                <label for="name"><b>Nome: </b></label>
                <input type="text" id="name" formControlName="name">
            </p>
            <p>
                <label for="band_type"><b>Tipo di Banda: </b></label>
                <input type="text" id="band_type"  formControlName="band_type" >
            </p>
            <p>
                <label for="description"><b>Descrizione: </b></label>
                <input type="text" id="description" formControlName="description">
            </p>
            <p>
                <label for="date"><b>Data: </b></label>
                <input type="date" id="date" formControlName="date">
            </p>
            <p>
                <label for="start_time"><b>Inizio: </b></label>
                <input type="text" id="start_time" formControlName="start_time" placeholder="hh:mm">
            </p>
            <p>
                <label for="end_time"><b>Fine: </b></label>
                <input type="text" id="end_time" formControlName="end_time" placeholder="hh:mm">
            </p>
            <h3>Foto: </h3>
            <img id="picture-icon" [src]="bandServsImageUrl + idBandServModify"/>

            <p>
                <input type="file" (change)="onFileChange($event)" required/>
            </p>
            <button (click)="save()">modify</button>
            &nbsp;
            <button (click)="goBack()">go back</button>    
        </div>
    </form>
</div>
<ng-template #loading>Loading ...</ng-template>
