<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="#">Market</a>
        <a href="#">Ingaggio Band</a>
        <a href="#">Annunci Serate</a>
        <a (click)="logout()">Logout</a>
    </div>
</div>
<div class="title-block"></div> 
<div class="title">
    Musin
</div>
<div class="right-item">
    <table>
        <tr>
            <td>        
                <div class="notifications">
                    <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-bell-512.png" class="bell-icon">
                    <div class="dropdown-notify-content">
                        <div class="item-notify">ciclare e tornare notifiche</div>
                    </div>
                </div>
            </td>
            <td>
                {{authService.name}}
            </td>
            <td>
                <div *ngIf="authService.picture; else noPicture"><img class="logo-usr" [src]="authService.picture"/></div>
                <ng-template #noPicture><img class="logo-usr" src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-23.jpg"/></ng-template>
            </td>
        </tr>

    </table>
</div>
