<footer>
    <div class="footer">
        <div class="footer-utilities">
            <ul>
                <li><a routerLink="/app/home">home</a></li>
                <li><a routerLink="/aboutus">about us</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <li><a href="#">facebook</a></li>
                <li><a href="#">twitter</a></li>
                <li><a href="#">instagram</a></li>
                <li><a href="#">linkedin</a></li>
            </ul>
        </div>
        <div class="footer-contacts">
            <ul>
                <li>email: xxx@yyy.zzz</li>
                <li>number: x</li>
            </ul>
        </div>
    </div>
</footer>