<div><h2>Annunci</h2></div>
<div class="search-bar">
    <form [formGroup]="adSearchOpt" (ngSubmit)="search()">
        <div>
            <div>
                <label for="title">Titolo: </label>
                <input type="text" id="title" formControlName="title" placeholder="titolo ...">
            </div>
            <div>
                <label for="minprice">Prezzo Minimo: </label>
                <input type="text" id="minprice" formControlName="minPrice" placeholder="prezzo massimo ...">
            </div>
            <div>
                <label for="maxprice">Prezzo Massimo: </label>
                <input type="text" id="maxprice" formControlName="maxPrice" placeholder="prezzo minimo ...">
            </div>
            <div>
                <label for="owner">Proprietario: </label>
                <input type="text" id="owner" formControlName="owner" placeholder="roprietario ...">
            </div>
            <div>
                <label for="ad_type">Tipo: </label>
                <select name="type" id="ad_type" formControlName="ad_type">
                    <option value="Elettrofono" selected>Elettrofono</option>
                    <option value="Aerofono">Aerofono</option>
                    <option value="Cordofono">Cordofono</option>
                    <option value="Membranofono">Membranofono</option>
                    <option value="Idiofono">Idiofono</option>
                </select>                
            </div>
            <div>
                <label for="type">Descrizione: </label>
                <input type="text" id="description" formControlName="description" placeholder="description ...">
            </div>
        </div>
        <button>search</button>
    </form>
</div>
<hr>
<div class="objects-list">
    <div *ngFor="let ad of ads$">
        <div class="card-obj">
            <div><h2>{{ad.title}}</h2></div>
                <img class="photo" [src]="adsImageUrl + ad.id"/>
            <p><b>Prezzo:</b>&nbsp;{{ad.price}} &euro;</p>
            <p><b>Proprietario:</b>&nbsp;{{ad.owner}}</p>
            <p><b>Descrizione:</b>&nbsp;{{ad.description}}</p>
            <p><b>Tipo:</b>&nbsp;{{ad.ad_type}}</p>
            <div class="seller-info" *ngIf="ad.contact_info != null; else nouserinfo">
                <h2>Informazioni sul Venditore</h2>
                <p>
                    <span *ngIf="ad.contact_info.email"><b>Indirizzo Posta: </b>{{ad.contact_info.email}}<br><br></span>
                    <span *ngIf="ad.contact_info.phone_number"><b>Numero di Telefono: </b>{{ad.contact_info.phone_number}}<br><br></span>
                    <button (click)="deletePreference(ad.id)">Rimuovi preferenza</button>
                </p>
            </div>
            <ng-template #nouserinfo>
                <div>
                    <span *ngIf="ad.can_edit; else notmine">
                        <a [routerLink]="['/app/marketEdit', { idAdModifiy: ad.id  | json }]"><button>Modifica Annuncio</button></a>
                        &nbsp;
                        <button (click)="delete(ad.id)">Elimina Annuncio</button>
                    </span>
                    &nbsp;
                    <ng-template #notmine>
                        <button (click)="addPreference(ad.id)">Aggiungi preferenza</button>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div *ngIf="userInfoService.userInfo != undefined && userInfoService.userInfo.instrument_supplier == true">
    <a routerLink="/app/marketPublish"><button class="btn-publish">Pubblica Annuncio</button></a>
</div>

