<div><h2>Ricerca Annunci</h2></div>
<div class="search-bar">
    <form [formGroup]="adSearchOpt" (ngSubmit)="search()">
        <div>
            <div>
                <label for="title">Title: </label>
                <input type="text" id="title" formControlName="title" placeholder="title ...">
            </div>
            <div>
                <label for="minprice">Prezzo Minimo: </label>
                <input type="text" id="minprice" formControlName="minPrice" placeholder="min price ...">
            </div>
            <div>
                <label for="maxprice">Prezzo Massimo: </label>
                <input type="text" id="maxprice" formControlName="maxPrice" placeholder="min price ...">
            </div>
            <div>
                <label for="owner">Proprietario: </label>
                <input type="text" id="owner" formControlName="owner" placeholder="owner ...">
            </div>
            <div>
                <label for="type">Tipo: </label>
                <input type="text" id="type" formControlName="type" placeholder="type ...">
            </div>
        </div>
        <button>search</button>
    </form>
</div>
<hr>
<div class="objects-list">
    <div *ngFor="let ad of ads$ | async">
        <div class="card">
            <div><h2>{{ad.title}}</h2></div>
                <div *ngIf="ad.photo != undefined; else noPicture"><img class="photo" [src]="ad.photo"/></div>
                <ng-template #noPicture><div><img class="photo" src="assets/images/noimage.png"/></div></ng-template>
            <p><b>Prezzo:</b>&nbsp;{{ad.price}} &euro;</p>
            <p><b>Proprietario:</b>&nbsp;{{ad.owner}}</p>
            <p><b>Tipo:</b>&nbsp;{{ad.type}}</p>
            <div sngIf="userInfoService.userInfo != undefined && userInfoService.userInfo.instrument_supplier == true && ad.can_edit">
                <a [routerLink]="['/app/marketEdit', { adModifiy: ad  | json }]"><button>Modifica Annuncio</button></a>
                &nbsp;
                <button (click)="delete(ad.id)">Elimina Annuncio</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="userInfoService.userInfo != undefined && userInfoService.userInfo.instrument_supplier == true">
    <a routerLink="/app/marketPublish"><button class="btn-publish">Pubblica Annuncio</button></a>
</div>

