.band-edit {
    text-align: center;
}

.edit-form {
    padding: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #eef;
    border: solid #aaf 1px;
    padding: 5%;
    border-radius: 10px;
}

#picture-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}