<div class="edit-profile-form" *ngIf="userInfo; else loading">
    <div>
        <h3>Immagine profilo:</h3>
        <div><img id="picture-icon" [src]="userInfoService.imageProfileUrl"/></div>
        <input type="file" (change)="onFileChange($event)" />
    </div>
    <div>
        <label for="user-name">User Name: </label>
        <input type="text" id="user-name" [(ngModel)]="userInfo.name" placeholder="User Name">
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="text" id="email" [(ngModel)]="userInfo.email" placeholder="Email">
    </div>
    <div>
        <label for="musicista">Musicista: </label>
        <input type="checkbox" id="musician" [(ngModel)]="userInfo.musician" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label for="propLoc">Gestore Club: </label>
        <input type="checkbox" id="club_owner" [(ngModel)]="userInfo.club_owner" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <label for="fornStrum">Venditore Strumenti: </label>
        <input type="checkbox" id="instrument_supplier" [(ngModel)]="userInfo.instrument_supplier" [ngModelOptions]="{standalone: true}">
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
    <button (click)="delete()">delete</button>

</div>
<ng-template #loading>loading...</ng-template>
