<div class="band-serv-publish">
    <div><h2>Creare Nuovo Annuncio</h2></div>
    <form [formGroup]="bandServNewForm">
        <div class="card">
            <p>
                <label for="name"><b>Nome: </b></label>
                <input type="text" id="name" formControlName="name" required>
            </p>
            <p>
                <label for="band_type"><b>Tipo di Banda: </b></label>
                <input type="text" id="band_type" formControlName="band_type" required>
            </p>
            <p>
                <label for="description"><b>Descrizione: </b></label>
                <input type="text" id="description" formControlName="description" required>
            </p>
            <p>
                <label for="date"><b>Data: </b></label>
                <input type="date" id="date" formControlName="date" required>
            </p>
            <p>
                <label for="start"><b>Inizio: </b></label>
                <input type="text" id="start" formControlName="start" required placeholder="HH:MM">
            </p>
            <p>
                <label for="end"><b>Fine: </b></label>
                <input type="text" id="end" formControlName="end" required placeholder="HH:MM">
            </p>
            <h3>Foto: </h3>
            <img id="picture-icon" src="/assets/images/no_user_image.jpeg"/>
            <p>
                <input type="file" (change)="onFileChange($event)" required/>
            </p>

            <button [disabled]="!bandServNewForm.valid" (click)="save()">Create</button>
            &nbsp;
            <button (click)="goBack()">go back</button>
        </div>
    </form>
</div>