<div class="ad-publish">
    <div><h2>Creare Nuovo Annuncio</h2></div>
    <form [formGroup]="adNewForm">
        <div class="card">
            <p>
                <label for="title"><b>Title: </b></label>
                <input type="text" id="title" formControlName="title" required>
            </p>
            <p>
                <label for="type"><b>Descrizione: </b></label>
                <input type="text" id="description" formControlName="description" required>
            </p>
            <p>
                <label for="price"><b>Prezzo: </b></label>
                <input type="text" id="price" formControlName="price" required>
            </p>
            <p>
                <label for="ad_type"><b>Tipo: </b></label>
                <select name="type" id="ad_type" formControlName="ad_type">
                    <option value="Elettrofono" selected>Elettrofono</option>
                    <option value="Aerofono">Aerofono</option>
                    <option value="Cordofono">Cordofono</option>
                    <option value="Membranofono">Membranofono</option>
                    <option value="Idiofono">Idiofono</option>
                </select>                
            </p>
            <h3>Foto: </h3>
            <img id="picture-icon" src="https://img.icons8.com/ios/452/no-image.png"/>
            <p>
                <input type="file" (change)="onFileChange($event)" required/>
            </p>

            <button [disabled]="!adNewForm.valid" (click)="save()">Create</button>
            &nbsp;
            <button (click)="goBack()">go back</button>
        </div>
    </form>
</div>