<div class="ad-publish">
    <div><h2>Creare Nuovo Annuncio</h2></div>
    <form [formGroup]="adNewForm">
        <div class="publish-form">
            <p>
                <label for="title"><b>Title: </b></label>
                <input type="text" id="title" formControlName="title" required>
            </p>
            <p>
                <label for="type"><b>Descrizione: </b></label>
                <input type="text" id="description" formControlName="description" required>
            </p>
            <p>
                <label for="price"><b>Prezzo: </b></label>
                <input type="text" id="price" formControlName="price" required>
            </p>
            <p>
                <label for="type"><b>Tipo: </b></label>
                <input type="text" id="ad_type" formControlName="ad_type" required>
            </p>
            <h3>Foto: </h3>
            <img id="picture-icon" src="/assets/images/no_user_image.jpeg"/>
            <p>
                <input type="file" (change)="onFileChange($event)" required/>
            </p>

            <button [disabled]="!adNewForm.valid" (click)="save()">Create</button>
            &nbsp;
            <button (click)="goBack()">go back</button>
        </div>
    </form>
</div>