<div *ngIf="valid; else loading" class="ad-edit">
    <div><h2>Modificare Annuncio</h2></div>
    <form [formGroup]="adModifyForm"> 
        <div class="edit-form">
            <p>
                <label for="title"><b>Title: </b></label>
                <input type="text" id="title" formControlName="title">
            </p>
            <p>
                <label for="price"><b>Prezzo: </b></label>
                <input type="text" id="price"  formControlName="price" >
            </p>
            <p>
                <label for="owner"><b>Proprietario: </b></label>
                <input type="text" id="owner" formControlName="owner">
            </p>
            <p>
                <label for="ad_type"><b>Tipo: </b></label>
                <input type="text" id="ad_type" formControlName="ad_type">
            </p>
            <p>
                <label for="description"><b>Descrizione: </b></label>
                <input type="text" id="description" formControlName="description">
            </p>
            <h3>Foto: </h3>
            <img id="picture-icon" [src]="adsImageUrl + idAdModify"/>

            <p>
                <input type="file" (change)="onFileChange($event)" required/>
            </p>
            <button (click)="save()">modify</button>
            &nbsp;
            <button (click)="goBack()">go back</button>    
        </div>
    </form>
</div>
<ng-template #loading>Loading ...</ng-template>
