/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #aaf;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}

input[type="text"] {
    padding: 10px 10px 10px 5px;
    font-size: 18px;
    width: 280px;
    border:  1px solid ;
    border-color: transparent transparent gray;
    background-color: transparent; 
}

input[type="text"]:focus{outline: none;}

input[type="number"] {
    width: 50px;
}