/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #aaf;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}

input[type="text"] {
    padding: 10px 10px 10px 5px;
    font-size: 18px;
    width: 280px;
    border:  1px solid ;
    border-color: transparent transparent gray;
    background-color: transparent; 
}

input[type="text"]:focus{outline: none;}

input[type="number"] {
    width: 50px;
}

.card {
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    margin-left: 35% !important;
    margin-right: 35% !important;
    background-color: #eef;
    border: solid #aaf 1px;
    padding: 5%;
    border-radius: 10px;
}

.card-obj {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #aaf;
    background-color: #eef;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.card-obj:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
