/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #aaf;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}
