<div class="home">
    <h1>Welcome Back</h1>
    <div *ngIf="userInfoService.userInfo?.picture; else noPicture"><img class="logo-usr" [src]="userInfoService.userInfo?.picture"/></div>
    <ng-template #noPicture><img class="logo-usr" src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-23.jpg"/></ng-template>

    <a routerLink="/app/editProfile"><button>change info</button></a>

    <h3>Nome Utente: {{userInfoService.userInfo?.userName}}</h3>
    <h3>Email: {{userInfoService.userInfo?.email}}</h3>
    <h3>Data Nascita: {{userInfoService.userInfo?.userName}}</h3>

    <h3 *ngIf="userInfoService.userInfo?.musicista">Account Musicista</h3>
    <h3 *ngIf="userInfoService.userInfo?.propLoc">Account Proprietario Locale</h3>
    <h3 *ngIf="userInfoService.userInfo?.fornStrum">Account Fornitore Strumenti</h3>
</div>