<div *ngIf="userInfoService.userInfo; else loading" class="home">
    <h1>Welcome Back</h1>
    <div *ngIf="userInfoService.userInfo?.picture_url; else noPicture"><img class="logo-usr" [src]="userInfoService.userInfo?.picture_url"/></div>
    <ng-template #noPicture><img class="logo-usr" src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-23.jpg"/></ng-template>

    <a routerLink="/app/editProfile"><button>change info</button></a>

    <h3>Nome Utente: {{userInfoService.userInfo?.name}}</h3>
    <h3>Email: {{userInfoService.userInfo?.email}}</h3>

    <h3 *ngIf="userInfoService.userInfo?.musician">Account Musicista</h3>
    <h3 *ngIf="userInfoService.userInfo?.club_owner">Account Proprietario Locale</h3>
    <h3 *ngIf="userInfoService.userInfo?.instrument_supplier">Account Fornitore Strumenti</h3>
</div>
<ng-template #loading>Loading ...</ng-template>
